@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&family=Work+Sans:wght@400&display=swap');

.App {
  text-align: center;
  font-family: 'Work Sans';
}

html,
body{
   width: 100%;
   height: 100%;
   overflow-x: hidden;
}

.snow {
  background-image: url(https://images.unsplash.com/photo-1531972497489-8eb337acf6e5?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=193456e9385b553747a5e0f0cbc7badb&auto=format&fit=crop&w=1334&q=80);
  text-align: center;
}