@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&family=Work+Sans:wght@400&display=swap');

.App {
  text-align: center;
  font-family: 'Work Sans';
}

html {
 overflow: visible;
}
