.create-review {
	text-align: left;
	padding-left: 2%;
	display: flex;
	flex-direction: column;
}

.create-review-button {
	text-decoration: none;
	color: white;
	background-color: #232F5B;
	border-style: solid;
	border-color: white;
	display: flex;
	width: 10%;
	justify-content: center;
	padding: 0.5%;
}

.create-review-button:hover {
	text-decoration: none;
	background-color: white;
	color: #232F5B;
	border-style: solid;
	border-color: #232F5B;
	display: flex;
	width: 10%;
	justify-content: center;
}

.create-label {
	color:  #8D8D8D;
}


textarea {
	opacity: 50%;
	background: lightgray;
	margin-right: 2%;
	margin-bottom: 2%;
	border-color: transparent;
	font-size: 150%;
	font-family: 'Work Sans';
}