.home-page {
  background-image: url(http://www.freepngimg.com/download/winter_snow/4-2-white-snow-png.png);
  -webkit-animation-name: MOVE-BG;
    -webkit-animation-duration: 500s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}

h1 {
  color: white;
  font-family: 'Reenie Beanie';
  font-size: 144px;
  opacity: 1;
}

body {
  background-color: #232F5B;
}

.main-nav {
  background: transparent;
}

@keyframes MOVE-BG {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(70%);
  }
}

