
h1 {
  color: white;
  font-family: 'Reenie Beanie';
  font-size: 144px;
  opacity: 1;
}

body {
  background-color: #232F5B;
}

.main-nav {
  background: transparent;
}

@keyframes MOVE-BG {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(70%);
  }
}

