@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');


.main-nav {
	display: grid;
	grid-template-columns: 1fr 1fr;
	background-color: transparent;
}

.logo {
	color: white;
	text-decoration: none;
	font-family: 'Reenie Beanie';
	font-size: 72px;
	justify-self: start;
}

.logo:hover {
	color: lightgray;
	text-decoration: none;
	font-family: 'Reenie Beanie';
	font-size: 72px;
	justify-self: start;
}

.greeting-tag {
	margin: 0;
}

.user-greeting {
	color: white;
	text-decoration: none;
	font-family: 'Reenie Beanie';
	font-size: 48px;
	justify-self: end;
	align-self: center;
}

.sign-in {
	color: white;
	text-decoration: none;
	font-size: 36px;
	justify-self: end;
}

.sign-in:hover {
	color: lightgray;
	text-decoration: none;
	font-size: 36px;
	justify-self: end;
}

.sign-out {
	background: transparent;
	border-style: solid;
	border-color: #00AA66;
	color: white;
}