img {
	width: 50%;
}

.resort-detail {
	background: white;
}

.resort-info {
	display: flex;
	padding: 2%;
}

.resort-detail-name {
	font-size: 36px;
}
.resort-detail-location {
	font-size: 24px;
}

.resort-text {
	text-align: left;
	color: #8D8D8D;
	font-weight: bold;
	margin-right: 2%;
}

.add-review-button {
	text-decoration: none;
	color: white;
	background-color: #232F5B;
	border-style: solid;
	border-color: white;
	display: flex;
	width: 10%;
	margin-left: 2%;
	justify-content: center;
	padding: 0.5%;
}

.add-review-button:hover {
	text-decoration: none;
	background-color: white;
	color: #232F5B;
	border-style: solid;
	border-color: #232F5B;
	display: flex;
	width: 10%;
	margin-left: 2%;
	justify-content: center;
}

.review {
	text-align: left;
	color: #8D8D8D;
	margin-top: 2%;
	padding-bottom: 2%;
	padding-right: 2%;
	padding-left: 2%;
	border-top: 2px solid black;
}

.review-title {
	font-weight: bold;
}
.review-body {
	font-weight: bold;
}

h5 {
	font-size: 150%;
	margin-bottom: 1%;
}

.edit-review-button {
	text-decoration: none;
	color: white;
	background-color: #232F5B;
	border-style: solid;
	border-color: white;
	display: flex;
	width: 10%;
	justify-content: center;
	padding: 0.5%;
}

.edit-review-button:hover {
	text-decoration: none;
	background-color: white;
	color: #232F5B;
	border-style: solid;
	border-color: #232F5B;
	display: flex;
	width: 10%;
	justify-content: center;
	font-weight: normal;
}