.search-image {
	display: flex;
	width: 30%;
	height: 75%;
	padding: 3%;
}

.search-card {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	padding-bottom: 5%;
}

.search-link {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	text-decoration: none;
	min-height: 15rem;
	margin: 0 auto;
	padding-bottom: 10%;
}

.search-name {
	display: flex;
	flex-direction: row;
	color: darkgray;
}

.search-resorts {
	color: white;
	font-family: 'Reenie Beanie';
	font-size: 96px;
	margin: 3%;
}

.card-data {
	display: flex;
	flex-direction: column;
}

.search-description {
	text-align: left;
	text-decoration: none;
	color: darkgray;
	font-weight: bold;
	margin-right: 15%;
	flex-wrap: wrap;
	padding-bottom: 2%;
}

.no-results {
	color: white;
	font-size: 35px;
}

.no-results-image {
	border-radius: 50%;
	display: inline-flex;
}

.home-page-link {
	color: white;
	text-decoration: none;
}

.home-page-link:hover {
	color: #8D8D8D;
	text-decoration: none;
}


/*

	Media query
	for 
	SMALL
	screens
	
	(250-750px)


*/

@media (min-width:  250px) and (max-width:  750px) {
	
	.search-resorts {
		font-size: 72px;
	}

	.home-page-link {
		font-size: 24px;
	}

	.search-link {
		display: flex;
		flex-direction: column;
		align-content: center;
	}

	.search-image {
		width: 15%;
		display: flex;
		padding: 0;
		margin-left: 10%;
	}	

	.search-card {
		flex-direction: column;
		width: 25%;
	}

	.card-data {
		margin-left: 5%;
		width: 25%;
		align-items: center;
	}

	.search-description {
		visibility: hidden;
		width: 100%;
		height: 20%;
	}
	
}


/*

	Media query
	for 
	MEDIUM
	screens
	
	(750-1000px)


*/

@media (min-width:  750px) and (max-width:  1000px) {

	.search-card {
		flex-direction: column;
		width: 25%;
	}

	.card-data {
		margin-left: 5%;
		margin-top: 10%;
		width: 25%;
		align-items: center;
	}

	.search-image {
		width: 25%;
		height: 75%;
	}

	.search-description {
		visibility: hidden;
	}
}

/*

	Media query
	for 
	LARGE
	screens
	
	(1000px+)


*/

@media (min-width:  1000px) {

	.no-results-image {
		width: 25%;
	}
}