.App {
	background: #232F5B;
	background-size: cover;
}

.sign-up-form {
	display: flex;
	flex-direction: column;
	margin: auto 0;
	align-items: center;
}

.sign-up-header {
	padding-top: 10%;
	color: darkgray;
}

.sign-up-button {
	color: white;
	background: #232F5B;
	opacity: 1;
	margin-top: 5%;
}

input {
	opacity: 0.5;
	background: lightgray;
	width: 50%;
	height: 3rem;
	margin-bottom: 2%;
	border-color: transparent;
	font-size: 150%;
}

.hidden-label {
	color: transparent;
}

.sign-in-blurb {
	color: darkgray;
}

.sign-in-link {
	color: darkgray;
}